{% extends 'base.html' %}

<!--Título-->
{% block title %}Dungeons and Dragons{% endblock %}

<!--Conteúdo-->
{% block content %}
<h1 class="col-12 pt-3 text-center">Dungeons and Dragons</h1>

<div class="row gx-4 gx-lg-5 align-items-center justify-content-center my-5 content container-fluid">
    <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="/static/images/DnD_World.png" alt="Mundo de DnD" /></div>
    <div class="col-lg-5">
        <h2 class="font-weight-light">Mundo de DnD</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quidem alias, ex possimus sed reprehenderit, autem et laudantium aut optio aperiam temporibus omnis explicabo, dolore pariatur voluptate repudiandae dolores deleniti? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem vitae molestias alias culpa nostrum quam nihil voluptas mollitia iusto minus facere cupiditate quas iure vel, temporibus et? Autem, velit ullam!
        </p>

    </div>
</div>

<div class="content container-fluid">
    <div class="row gx-4 gx-lg-5 align-items-center justify-content-center my-5 content container-fluid">
        <div class="col-lg-5">
            <h2 class="font-weight-light">Jogabilidade</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto. Dignissimos nihil, hic porro iusto magnam ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, saepe. Ipsum, commodi numquam praesentium labore eaque voluptate magnam doloribus atque? Harum recusandae temporibus nulla itaque est iusto autem deserunt placeat!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quidem alias, ex possimus sed reprehenderit, autem et laudantium aut optio aperiam temporibus omnis explicabo, dolore pariatur voluptate repudiandae dolores deleniti? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem vitae molestias alias culpa nostrum quam nihil voluptas mollitia iusto minus facere cupiditate quas iure vel, temporibus et? Autem, velit ullam!
            </p>
        </div>
        <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="/static/images/DnD_Game.png" alt="Jogo de DnD" /></div>
    </div>

<div class="row gx-4 gx-lg-5 justify-content-center content container-fluid">
    <div class="col-md-3 mb-5">
        <div class="card h-100 bg-light">
            <div class="card-body">
                <h2 class="card-title">Raças</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="/">Saiba Mais</a></div>
        </div>
    </div>

    <div class="col-md-3 mb-5">
        <div class="card h-100 bg-light">
            <div class="card-body">
                <h2 class="card-title">Classes</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="/">Saiba Mais</a></div>
        </div>
    </div>
    <div class="col-md-3 mb-5">
        <div class="card h-100 bg-light">
            <div class="card-body">
                <h2 class="card-title">Backgrounds</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="/">Saiba Mais</a></div>
        </div>
    </div>
</div>

{% endblock %}